<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course List</title>
<link th:href="@{style.css}" rel="stylesheet">
</head>
<body>

<div class="container">
    <h2>List of Courses</h2>
    <table class="table" border="1">
        <tr>
            <th>ID</th>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Department</th>
            <th>Programme</th>
            <th>Lecturer ID</th>
            <th>Number of Students</th>
            <th>Action</th>
        </tr>
        <tr th:each="course : ${courses}">
            <td th:text="${course.id}"></td>
            <td th:text="${course.courseId}"></td>
            <td th:text="${course.courseName}"></td>
            <td th:text="${course.department}"></td>
            <td th:text="${course.programme}"></td>
            <td th:text="${course.lecturerId}"></td>
            <td th:text="${course.numberOfStudents}"></td>
            <td>
                <a th:href="@{'/courses/edit/' + ${course.id}}" class="btn btn-primary"><i class="fas fa-edit"></i>Edit</a>
                <a th:href="@{'/courses/delete/' + ${course.id}}" class="btn btn-danger" methods="Delete"><i class="fas fa-trash-alt"></i>Delete</a>
            </td>
        </tr>
    </table>
</div>
<script src="/templates/JS/script.js"></script>
</body>
</html>
